@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
:root{
    --color-primary: #fbf8f3;
    --color-secondary: #1ba0f1;
    --color-third: #d7f5f4;
    --color-fourth: #f6b201;
    --color-white: #fff;
    --color-gray: #6d6d6d;
    --color-muted: #888785;
    --color-dark: #000000;
}
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 0.88rem;
    background: var(--color-primary) !important;
    user-select: none;
    overflow-x: hidden;
}
.navbar{
    --bs-navbar-padding-y: 1.9rem !important;
}
.navbar-brand{
    font-size: 22px !important;
    font-weight: 600 !important;
    color: var(--color-secondary) !important;
}
.btn-success{
    --bs-btn-bg: var(--color-secondary) !important;
    --bs-btn-border-color: var(--color-secondary) !important;
    --bs-btn-hover-bg: white !important;
    --bs-btn-hover-border-color: var(--color-secondary) !important;
    --bs-btn-hover-color: var(--color-secondary) !important;
    --bs-btn-active-bg: var(--color-secondary) !important;
    --bs-btn-active-border-color: var(--color-secondary) !important;
    font-size: 1.1rem !important;
    font-weight: 600 !important;
}
.btn{
    --bs-btn-padding-x: 1.4rem !important;
--bs-btn-padding-y: 0.700rem !important;
}
.col-5{
    background: url("../images/Hero Image (Desktop View).png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.col-7{
    padding-bottom: 14rem;
}
.d-grid .title h1{
    font-size: 5.3rem !important;
    font-weight: 700;
}
.paragraph-1 p{
    font-size: 1.71rem !important;
    color: var(--color-muted);
}
.btn-info{
    --bs-btn-color: #1f7898 !important;
    --bs-btn-bg: transparent !important;
    --bs-btn-border-color: transparent !important;
    font-size: 1.1rem !important; 
    --bs-btn-hover-bg: transparent !important;
    --bs-btn-hover-border-color: transparent !important;
    font-weight: 700 !important;
}
#avatar1{
    position: absolute;
    z-index: 9;
    padding-left: 16rem;
}
#avatar2{
    position: absolute;
    z-index: 8;
    padding-left: 14rem;
}
#avatar3{
    position: absolute;
    z-index: 7;
    padding-left: 12rem;
}
#avatar4{
    position: absolute;
    z-index: 6;
    padding-left: 10rem;
}
#avatar5{
    position: absolute;
    z-index: 5;
    padding-left: 8rem;
}
#avatar6{
    position: absolute;
    z-index: 4;
    padding-left: 6rem;
}
#avatar7{
    position: absolute;
    z-index: 3;
    padding-left: 4rem;
}
#avatar8{
    position: absolute;
    z-index: 2;
    padding-left: 2rem;
}
#avatar9{
    position: absolute;
    z-index: 1;
    padding-left: 0rem;
}